html {
  background: lightblue;
  font-size: 10px;
}

body {
  margin: 0px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

.menu {
  width: 350px;
  overflow: hidden;
}


/*列表相关*/
#tool-bar {
  background-color: gray;
  color: lightblue;
  font-weight: bold;
  text-align: center;
  font-family: 微软雅黑;
  font-size: 1.3em;
  cursor: default;
}

#title {
  position: relative;
  left: 8px;
}

#tool-bar .badge {
  background: none;
  font-size: 1.5em;
  position: relative;
  top: -4px;
  right: -6px;
  cursor: pointer;
  color: white;
}

#bookmark:hover {
  color: Coral;
}

#settings:hover {
  color: LightGrey;
}

ul.list-group {
  margin-bottom: 0px;
}

.list-group a {
  /*控制单条条目的显示高度*/
  padding-top: 8px;
  padding-top: 8px;
}

.icon {
  position: relative;
  top: 25%;
}

/*控制条目名称的显示样式*/
span.page-title {
  display: inline-block;
  width: 280px; /*只显示level-0按钮时的文本宽度*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

i.icon {
  font-size: 16px;
}

span.confirm {
  background-color: red;
}

/*span.cancel {
  background-color: green;
}
*/

/*空白列表提示消息的样式*/
.prompt .prompt-text {
  font-weight: bolder;
  font-family: 微软雅黑;
  width: 277px;
  display: inline-block;
  line-height: 1.8em;
}

.prompt .badge {
  position: relative;
  top: 5px;
}
