html {
  background: lightblue;
  font-size: 10px;
}

body {
  margin: 0px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
}

.menu {
  width: 350px;
  overflow: hidden;
}


/*列表相关*/
#tool-bar {
  background-color: gray;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-family: 微软雅黑;
  font-size: 1.5em;
  cursor: default;
  padding-top: 3px;
  padding-bottom: 3px;

  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px; /* 控制条纹的大小 */

  background-color: #FF9D0F; /* 修改这个背景颜色，下面的是 CSS 条纹 */
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); /* FF3.6+ */
  background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); /* IE 10+ */
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); /* Opera */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); /* W3C */
}

#title {
  font-size: 1.2em;
  position: relative;
  left: 8px;
  letter-spacing: 0.8em;
}

#tool-bar .badge {
  background: none;
  font-size: 1.4em;
  position: relative;
  top: -2px;
  right: -5px;
  cursor: pointer;
  color: white;

}

#bookmark:hover {
  color: DeepPink;
}

#settings i:hover {
  color: DimGray;
}

ul.list-group {
  margin-bottom: 0px;
}

.list-group a {
  /*控制单条条目的显示高度*/
  padding-top: 8px;
  padding-top: 8px;
}

.icon {
  position: relative;
  top: 25%;
}

/*控制条目名称的显示样式*/
span.page-title {
  display: inline-block;
  width: 280px; /*只显示level-0按钮时的文本宽度*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

i.icon {
  font-size: 16px;
}

span.confirm {
  background-color: red;
}

/*span.cancel {
  background-color: green;
}
*/

/*空白列表提示消息的样式*/
.prompt .prompt-text {
  font-weight: bolder;
  font-family: 微软雅黑;
  width: 277px;
  display: inline-block;
  line-height: 1.8em;
}

.prompt .badge {
  position: relative;
  top: 5px;
}
