.menu {
  width: 350px;
  overflow: hidden;

}

.menu-item {
  /*将height与line-height设置为一样，实现垂直居中*/
  height: 2em;
  line-height: 2em;
  /*禁止折行显示*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*禁止选择文字*/
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

/*鼠标悬停的选择效果*/
.hover-effect {
  border: 1px solid;
  cursor: pointer;
}
